.header {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    background: linear-gradient(to right, #f83600 0%, #f9d423 100%);
    &__left i ,span{
        font-size: 3.5rem;
    }
    &__right{
        position: relative;
        margin-top: 20px;
        a {
            padding-right: 50px;
            text-decoration: none !important;
            color: black ;
        }
    }
   
}
// &__title {
//     font-weight: bold;
// }
// &__link {
//     color: black;
//     border-bottom: 3px solid var(--primary);
//     transition: all 0.1s ease-in-out 0s;
//     font-weight: bold;

//     &:hover {
//         text-decoration: none;
//         color: var(--primary);
//         border-bottom: 3px solid black;
//     }
// }
